body{
    background-color: #071a4c;
}

.banniere_profil{
    background-color: #071a4c;
}

.profil{
    border: solid #1baab0 5px;
    font-size: 2rem;
}

.titre_profil{
    color: #1baab0;
    font-size: 2rem;
}

.text_profil{
    font-size: 1.3rem;
}

#hr_profil{
    height: 5px;
    border-radius: 5px;
    background-color: #1baab0;
    opacity: 0.75;
}

.section2{
    font-size: 1.3rem;
    background-color: #071a4c;
    color: white;
}

