.articles{
    background-color: #4488c0;
    color: white;
    border-radius: 20px;
}

.champ_msg{
    padding: .375rem .75rem;
    border-radius: 10px;
    background-color: #0077ff0e;
}

.btn_form{
    background-color: #1baab0;
    color: white;
    border-radius: 20px;
}

.toolbar{
    background-color: #071a4c;
    border-top: solid #1baab0 10px;
    border-bottom: solid #1baab0 5px;
}

.btn_bar{
    border: solid #071a4c 2px;
    background-color: #ffffff;
    color: #1baab0;
    border-radius: 5px;
    font-weight: bold;
    transition: all 1s ease-in-out; 
}

.btn_bar:hover{
    background-color:#1baab0;
    transform: scale(1.1); 
    border-radius:30px;
}

.btn_site{
    border: solid #ffffff 2px;
    background-color:#1baab0 ;
    color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    transition: all 1s ease-in-out;
}

.btn_site:hover{
    background-color:#1baab0;
    border: solid #000000 2px;
    transform: scale(1.1); 
}

.list-group-item{
    border: 2px solid #071a4ca8;
}

.word-fix {
    word-break: break-word;
}

.li-msg {
    background-color: #071a4c;
    color: white;
}

.list-group{
    font-size: 18px;
    border-radius: 15px;
}

.list-group-item {
    border: 3px solid #071a4c;
}

.title_nav{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #071a4c;
}

.txt_objet{
    font-size: 25px;
}


.nav-tabs :hover{
    border-bottom: none;
}

.badge {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
}