.text_header{
    font-size: 4rem;
    font-family: 'Playball', cursive;
    color: #ffffff;
    text-shadow: -6px 3px 5px rgb(0 0 0);
}

@media (max-width:768px) {
    .text_header{
        font-size: 3.2rem;
        font-family: 'Playball', cursive;
        color: #ffffff;
        text-shadow: -6px 3px 5px rgb(0 0 0);
    }
}

.section1{
    background-color: #ffffff;
}

.titre_prat{
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
}

.text_prat{
    font-size:1.3rem;
    color: white;
    font-style: italic;
}

.section2{
    background-color: #071a4c;
    color: #1baab0;
}

.section2_title{
    font-size: 3rem;
}

.section2_text{
    font-size: 1.2rem;
    color: white;
}

.section2_text>h3{
    color: #1baab0;
}

.tarif-container{
    background-color:#d3d6ff ;
    border-radius: 5px;
    margin-right: 1rem;
}

@media (max-width:991px) {
    .tarif-container{
        margin-right: 0rem;
    }
}

.infotarif-container{
    background-color: #1baab0;
    border-radius: 5px;
    color: #ffffff;
}

.infotarif_trait{
    opacity: 1;
}

.titre_tarif{
    font-size: 1.5rem;
}

.custom-shape-divider-bottom-1633209278 {


    overflow: hidden;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1633209278 svg {
    position: relative;
    display: block;
    width: calc(270% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1633209278 .shape-fill {
    fill: #2e5c81;
}

.custom-shape-divider-bottom-1633208821 {
    overflow: hidden;
}

.custom-shape-divider-bottom-1633208821 svg {
    position: relative;
    display: block;
    width: calc(270% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1633208821 .shape-fill {
    fill: #2e5c81;
}