.text_header{
    font-size: 4rem;
    font-family: 'Playball', cursive;
    color: #ffffff;
    text-shadow: -6px 3px 5px rgb(0 0 0);
}

.text2_header{
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: bold;
    color: #071a4c;

}

.text3_header{
    font-size: 1.5rem;
    color: #071a4c;
    font-weight: bold;
}

/* SECTION 1 */
.section1{
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.btn_contact{
    font-size: 1.5rem;
    background-color: #1baab0;
    color: white;
    border-radius: 30px;
    transition: all 1.2s ease-in-out;
     
}

.btn_contact:hover{
    border-color:#071a4c ;
    color: #071a4c;
    transform: scale(1.5);
    border-radius: 0px;
    background-color: white;
}

.svg_section1{
    width: 500px;
}

@media(max-width: 991px) {
    .svg_section1{
        width: 350px;
    }
}

@media(max-width: 767px) {
    .svg_section1{
        display: none;
    }
}

/* SECTION 2 */
.section2{ 
    background-color:#1baab0;
}

.titre_section2{
    color: #071a4c;
    font-size: 1.5rem;
    font-weight: bold;
}

.text_horaires{
    font-size: 1.5rem;
    color: #071a4c;
}

.text_num{
    font-size: 1.5rem;
    color: #071a4c;
}

.text_num:hover{
    color: #ffffff;
}

.text_mail{
    font-size: 1.5rem;
    color: #071a4c;
}

.text_mail:hover{
    color: #ffffff;
}

/* SECTION 3 */
.section3{

}

.section_text{
    font-size: 20px;
}

.card{
    border: none;
}

.card-container{
    position: relative;
    background-color:#071a4c;
    border-top: solid #1baab0 10px;
    border-bottom: solid #6ea8fe 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.40), 0 10px 10px rgba(0,0,0,0.40);
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 3rem;
}

.circle_card{
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1baab0;
    border: solid #172547 7px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.card-title{
    font-size: 2rem;
    font-weight: bold;

}

.card-text{
    font-size: 1.4rem;
}

.card-container:hover{
    background-color:#1b1d7a;
    color:#1baab0;
}

@media(max-width: 1199px) {
    .card-container{
        margin-bottom: 5rem;
    }
}

/* SECTION 4 */
.section4{
    background-color: #1baab0;
    
}

.btn_contact2{
    background-color:#071a4c;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 30px;
    transition: all 1.2s ease-in-out;
}

.btn_contact2:hover{
    background-color: #1babb0;
    border-color:#071a4c;
    color: #071a4c;
    border-radius: 0px;
    transform: scale(1.5);
}

@media(max-width: 767px) {
    #carouselExampleCaptions{
        display: none;
    }
}


/* SECTION 5 */
.section5{
    background-color: #071a4c;
}

.btn_contact3{
    background-color:#1baab0;
    font-size: 1.5rem;
    color: #ffffff;
    border-radius: 30px;
    transition: all 1.2s ease-in-out;
}

.btn_contact3:hover{
    border-color:#1baab0 ;
    color: #1baab0;
    border-radius: 0px;
    background-color: #071a4c;
    transform: scale(1.5);
}

@media(max-width: 767px) {
    .puzzle{
        display: none;
    }
}

/* SVG TOP BOTTOM */
.custom-shape-divider-bottom-1633220128 {
    overflow: hidden;
}

.custom-shape-divider-bottom-1633220128 svg {
    position: relative;
    display: block;
    width: calc(197% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1633220128 .shape-fill {
    fill: #1baab0;
}

.custom-shape-divider-top-1633220584 {
    overflow: hidden;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1633220584 svg {
    position: relative;
    display: block;
    width: calc(197% + 1.3px);
    height: 100px;
}

.custom-shape-divider-top-1633220584 .shape-fill {
    fill: #1baab0;
}