.section1{
    background-color: #ffffff;
}

.text_infos{
    font-size: 1.3rem;
}

.titre_form{
    font-size: 2rem;
    font-weight: bold;
}

.form-control{
    background-color: #daf1ff;
    border-radius: 20px;
}

textarea{
    background-color: #daf1ff;
    border: 1px solid #ced4da;
    border-radius: 8px;
}

.champ_msg{
    padding: .375rem .75rem;
    border-radius: 10px;
}

.btn_form{
    background-color: #1baab0;
    color: white;
    border-radius: 20px;
}

.titre_horaires{
    font-size: 2rem;
    font-weight: bold;
}

.text_horaires{
    font-size: 1.3rem;
}

.mail{
    font-size: 1.5rem;
}

.num{
    font-size: 1.5rem;
}

.calendrier{
    font-size: 1.5rem;
}

.section2{
    background-color: #071a4c;  
}

.map_txt{
    font-size: 1.7rem;
    color: white;
}

.info_txt{
    font-size: 1.3rem;
    font-style: italic;
    color: white;
}

.map{
    width: 100%;
}


.svg_bottom{

    overflow: hidden;
}

.svg_bottom svg{
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 120px;
}



