@import url('https://fonts.googleapis.com/css2?family=Playball&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

.navbar{
    background-color: #63b3f4;
    border-bottom: solid #FFE4FA 4px;
}

.navbar-dark .navbar-toggler {
    color: white;
    border-color: white;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.05rem;
}

.nav-item:hover{
    background-color: #649aeb;
    border-bottom: solid #FFE4FA 3px;
}

ul a{
    font-size: 1.2rem;
    color: white;
}

header{
    background-color: #1baab0;
}

.text_header{
    font-size: 4rem;
    font-family: 'Playball', cursive;
    color: #ffffff;
    text-shadow: -6px 3px 5px rgb(0 0 0);
}

.svg_top {
    transform: rotate(180deg);
}

.svg_top svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 120px;
}

footer{
    background-color: #1baab0;
}

.footer_title{
    color:#071a4c;
    font-weight: bold;
}

.footer_horaires{
    font-size: 1.2rem; 
}

.footer_liens{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing:  2px;
    transition: ease-in-out 1s;
}

.footer_liens:hover{
    color: #071a4c;
    font-size: 1.3rem;
}

.footer_contact{
    font-size: 1.2rem; 
    margin-bottom: 0px;
}

.footer_liens_contact{
    text-decoration: none;
    color: white;
}

.footer_liens_contact:hover{
    text-decoration: none;
    color: #071a4c;
}


.footer_hr{
    background-color:#071a4c ;
    opacity: 1;
    width: 150px;
}

#footer_hr{
    height: 10px;
}

.footer_hr_liens{
    background-color:#071a4c ;
    opacity: 1;
    width: 300px;
    margin: auto;
    border-radius: 20px;
}

#hr_copyright{
    height: 1px;
}

.footer_text_top{
    font-weight: bold;
    font-style: italic;
    letter-spacing: 5px;
}

.copyright_text{
    font-size: 1.2rem;
}

.copyright_links{
    text-decoration: none;
    color: #071a4c;
    letter-spacing: 3px;
    font-weight: bold;
}

.copyright_links:hover{
    color: red;
    text-decoration: underline;
}

@media (min-width: 992px){
    .logo_main {
      display: none;
    }
  }

@media (max-width: 991px){
    .logo_burger {
      display: none;
    }
  }

  .custom-shape-divider-top-1636676615 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1636676615 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1636676615 .shape-fill {
    fill: #FFFFFF;
}